h3.titleimg {
text-align: center;

}


p.titleid {

 color: white;
    font-weight: bolder;
    font-size: x-large;
    margin-top: 5px;

}

.form{
    margin: 5vh 0 0 0;


}
.imgsrc {
    height: 71vh;
    width: 40vw;
    margin: 0vh 0 0 0vh;
    float: left;
    min-width: 500px ;

}

.links {
    float: left;
    margin: 5vh 0 0 5vh ;
}

.all1 {
    background-color: #1a1a1a;
    margin: 5vh 10vw 0 10vw;
    width: 80vw;
    height: 100vh;
    min-width: 580px;
}

.input{
    height: 5vh;
    width: 30vw ;
    border-radius: 5px;
}
.html1 {
    color: white;
}
.cd-main-content {
    height: 100%;
}